@charset "UTF-8";
.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  width: 282px;
  height: 55px;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 55px;
  background-color: transparent;
  cursor: pointer; }
  .button:hover, .button:focus {
    color: #d22856;
    background-color: #ffffff; }
  .button:active {
    color: rgba(210, 40, 86, 0.3); }

.button--red {
  color: #d22856;
  border-color: #d22856; }
  .button--red:hover, .button--red:focus {
    color: #ffffff;
    background-color: #d22856; }
  .button--red:active {
    color: rgba(255, 255, 255, 0.3); }

.button--gray {
  color: #b5b9be;
  border-color: #b5b9be;
  opacity: 0.3; }
  .button--gray:hover, .button--gray:focus {
    color: #b5b9be;
    background-color: transparent;
    opacity: 1; }
  .button--gray:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #b5b9be; }

.button--green {
  color: #ffffff;
  background-color: #2aab6d;
  height: 63px;
  border-radius: 1%;
  border: 1px solid transparent;
  text-transform: uppercase; }
  .button--green:hover, .button--green:focus {
    color: #ffffff;
    background-color: #1c9b5e;
    opacity: 1; }
  .button--green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #1c9b5e; }
  .button--green:disabled {
    background-color: #e5e5e5;
    cursor: default; }

@media (min-width: 768px) {
  .button {
    width: 300px; } }

@media (min-width: 1200px) {
  .button {
    font-size: 21px;
    line-height: 21px; } }

.page-header {
  background-color: #283645; }

.page-header__container {
  margin: 0 auto;
  width: 320px; }

.page-header__up-menu {
  box-sizing: border-box;
  position: fixed;
  z-index: 101;
  top: 0;
  padding: 22px 0px 0 0px;
  height: 66px;
  width: 320px;
  background-color: rgba(28, 37, 48, 0.5); }

.page-index .page-header__logo[href] {
  padding-left: 20px; }

.page-header__logo-image {
  fill: #ffffff;
  transition: all 0.1s linear; }
  .page-header__logo-image:hover, .page-header__logo-image:focus {
    fill: #d22856;
    transition: all 0.1s linear; }
  .page-header__logo-image:active {
    fill: rgba(255, 255, 255, 0.3);
    transition: all 0.1s linear; }

.page-header__logo-image--tablet,
.page-header__logo-image--desktop {
  display: none; }

@media (min-width: 768px) {
  .page-header__container {
    margin: 0 auto;
    width: 660px; }
  .page-header__up-menu {
    padding-top: 25px;
    width: 660px;
    height: 110px; }
  .page-header__logo-image--tablet {
    display: inline; }
  .page-header__logo-image--mobile,
  .page-header__logo-image--desktop {
    display: none; } }

@media (min-width: 1200px) {
  .page-header__container {
    width: 1200px; }
  .page-header__up-menu {
    position: absolute;
    display: flex;
    width: 1200px; }
  .page-header__logo-image--desktop {
    display: inline;
    margin-left: 110px;
    margin-top: 2px; }
  .page-header__logo-image--mobile,
  .page-header__logo-image--tablet {
    display: none; } }

.main-nav {
  margin: 0;
  padding: 0; }

.main-nav__list {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
  border-top: 1px solid #222222; }

.main-nav__toggle {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 24px;
  height: 23px; }
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    transform: rotate(45deg);
    width: 30px;
    height: 5px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    transform: rotate(-45deg);
    width: 30px;
    height: 5px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle:hover::after, .main-nav--opened .main-nav__toggle:focus::after, .main-nav--opened .main-nav__toggle:hover::before, .main-nav--opened .main-nav__toggle:focus::before {
    background-color: #d22856; }
  .main-nav--opened .main-nav__toggle:active::after, .main-nav--opened .main-nav__toggle:active::before {
    opacity: 0.3; }

.main-nav--opened .main-nav__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  min-height: 64px;
  text-align: center;
  background-color: #283645;
  border-top: 1px solid #4c5764;
  border-bottom: 1px solid #222222;
  cursor: pointer; }
  .main-nav--opened .main-nav__item a {
    color: #ffffff;
    text-decoration: none; }
  .main-nav--opened .main-nav__item:hover, .main-nav--opened .main-nav__item:focus {
    background-color: #394d62; }
    .main-nav--opened .main-nav__item:hover a, .main-nav--opened .main-nav__item:focus a {
      color: #d22856; }
  .main-nav--opened .main-nav__item:active a {
    opacity: 0.3; }

.main-nav--opened .main-nav__item--current {
  cursor: default; }
  .main-nav--opened .main-nav__item--current:hover, .main-nav--opened .main-nav__item--current:focus {
    background-color: #283645; }
    .main-nav--opened .main-nav__item--current:hover a, .main-nav--opened .main-nav__item--current:focus a {
      color: #ffffff; }
  .main-nav--opened .main-nav__item--current:active a {
    opacity: 1; }

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 50px;
  height: 24px; }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0px;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }
  .main-nav--closed .main-nav__toggle:hover::before, .main-nav--closed .main-nav__toggle:focus::before {
    background-color: #d22856;
    box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856; }
  .main-nav--closed .main-nav__toggle:active::before {
    opacity: 0.3; }

.main-nav--closed .main-nav__list {
  display: none; }

.main-nav--nojs .main-nav__toggle {
  display: none; }

.main-nav--nojs .main-nav__list {
  display: block; }

@media (min-width: 768px) {
  .main-nav__list {
    margin-top: 38px; }
  .main-nav--closed .main-nav__toggle {
    top: 43px;
    right: 20px; }
  .main-nav--opened .main-nav__toggle {
    position: absolute;
    top: 43px;
    right: 20px; } }

@media (min-width: 1200px) {
  .main-nav--nojs .main-nav__toggle,
  .main-nav--closed .main-nav__toggle,
  .main-nav--opened .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__list,
  .main-nav--closed .main-nav__list,
  .main-nav--opened .main-nav__list {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0;
    margin-left: 44px;
    margin-top: 12px;
    padding: 0 86px;
    width: 875px;
    border-top: none; }
  .main-nav__item a {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-transform: none;
    text-decoration: none; }
    .main-nav__item a:hover, .main-nav__item a:focus {
      color: #d22856; }
    .main-nav__item a:active {
      opacity: 0.3; }
  .main-nav__item--current {
    position: relative; }
    .main-nav__item--current::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff; }
    .main-nav__item--current a:hover, .main-nav__item--current a:focus {
      color: #ffffff; }
    .main-nav__item--current a:active {
      opacity: 1; } }

.download-app {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #1d2631; }

.download-app__container {
  margin: 0 auto;
  margin-top: -66px;
  width: 320px;
  min-height: 733px;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-size: 258px 286px, 320px 462px;
  background-position: left 175px, center top;
  background-repeat: no-repeat, no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .download-app__container {
      background-image: url(../img/iphone-hand-mobile@2x.png), url(../img/bg-back-mobile@2x.jpg); } }

.download-app__text {
  margin: 0;
  padding: 0;
  display: none; }

.download-app__button {
  margin-top: 490px;
  margin-left: 20px;
  border: 3px solid #ffffff; }

.download-app__list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0;
  padding: 0;
  padding: 31px 40px 0 40px;
  list-style: none; }

.download-app__item:last-child svg {
  padding-bottom: 3px; }

.download-app__note {
  padding: 0 20px 0 20px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center; }

@media (min-width: 768px) {
  .download-app__container {
    position: relative;
    margin-top: 0px;
    width: 660px;
    min-height: 730px;
    background-image: url(../img/iphone-hand-tablet@1x.png), url(../img/bg-back-tablet@1x.jpg);
    background-size: 700px 545px, 1200px 729px;
    background-position: -20px 185px, center top;
    background-repeat: no-repeat, no-repeat; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .download-app__container {
      background-image: url(../img/iphone-hand-tablet@2x.png), url(../img/bg-back-tablet@2x.jpg); } }

@media (min-width: 768px) {
  .download-app__text {
    display: block;
    position: absolute;
    width: 230px;
    height: 160px;
    top: 203px;
    left: 55px;
    font-family: "OpenSans Light", "Arial", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
    color: #ffffff; }
  .download-app__button {
    position: absolute;
    margin: 0;
    top: 380px;
    left: 20px; }
  .download-app__list {
    position: absolute;
    justify-content: space-between;
    padding: 0;
    top: 480px;
    left: 67px;
    width: 205px; }
  .download-app__note {
    position: absolute;
    padding: 0;
    top: 554px;
    left: 16px;
    width: 310px;
    font-size: 18px; } }

@media (min-width: 1200px) {
  .download-app__container {
    position: relative;
    margin-top: 0px;
    width: 1200px;
    min-height: 853px;
    background-image: url(../img/iphone-hand-desktop@1x.png), url(../img/bg-back-desktop@1x.jpg);
    background-size: 1050px 645px, 2560px 853px;
    background-position: 146px 208px, center top;
    background-repeat: no-repeat, no-repeat; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .download-app__container {
      background-image: url(../img/iphone-hand-desktop@2x.png), url(../img/bg-back-desktop@2x.jpg); } }

@media (min-width: 1200px) {
  .download-app__text {
    display: block;
    position: absolute;
    width: 230px;
    height: 160px;
    top: 219px;
    left: 163px;
    font-size: 50px;
    line-height: 60px; }
  .download-app__button {
    top: 450px;
    left: 130px; }
  .download-app__list {
    top: 570px;
    left: 177px; }
  .download-app__note {
    top: 665px;
    left: 125px; } }

.motivation-title {
  margin: 0;
  padding: 0;
  color: #283645;
  background-color: #ffffff; }

.motivation-title__container {
  margin: 0 auto;
  padding: 13px 20px 50px 20px;
  width: 320px; }

.motivation-title__text {
  padding: 6px 20px 0 20px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-align: center; }

@media (min-width: 768px) {
  .motivation-title__container {
    padding: 48px 20px 94px 20px;
    width: 660px; }
  .motivation-title__text {
    margin: 0;
    padding: 0;
    font-family: "OpenSans Light", "Arial", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300; }
  .motivation-title__container p:first-of-type br {
    display: none; } }

@media (min-width: 1200px) {
  .motivation-title__container {
    padding: 68px 20px 174px 20px;
    width: 1200px; }
  .motivation-title__text {
    font-size: 50px;
    line-height: 60px; } }

.about-app {
  position: relative;
  margin: 0;
  padding: 0;
  color: #283645;
  background-color: #f2f2f2; }
  .about-app::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: -50px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to left top, #f2f2f2 49.99%, transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right; }

.about-app__container {
  margin: 0 auto;
  padding: 13px 20px 0 20px;
  width: 320px; }

.about-app__list {
  margin: 0;
  padding: 0;
  padding: 24px 30px 0px 30px;
  list-style: none; }

.about-app__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px; }

.about-app__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center; }

.about-app__description {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center; }

.about-app__picture--mood,
.about-app__picture--world {
  display: none; }

.about-app__picture--friends {
  margin-top: 41px;
  width: 100%;
  text-align: center; }
  .about-app__picture--friends img {
    vertical-align: top;
    width: 157px;
    height: 277px; }

@media (min-width: 768px) {
  .about-app__container {
    position: relative;
    padding: 13px 20px 10px 20px;
    width: 660px; }
  .about-app__list {
    padding: 15px 10px 0px 332px; }
  .about-app__item {
    margin-bottom: 32px; }
  .about-app__title {
    text-align: left; }
  .about-app__description {
    text-align: left; }
  .about-app__picture--friends {
    position: absolute;
    z-index: 11;
    margin: 0px;
    bottom: 0;
    left: 40px;
    width: 100%;
    text-align: left; }
    .about-app__picture--friends img {
      vertical-align: top;
      width: 268px;
      height: 481px; } }

@media (min-width: 1200px) {
  .about-app::after {
    top: -100px;
    height: 100px; }
  .about-app__container {
    position: relative;
    box-sizing: border-box;
    padding: 13px 160px 10px 160px;
    width: 1200px; }
  .about-app__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
  .about-app__item {
    position: relative;
    width: 241px; }
  .about-app__title {
    margin-bottom: 23px;
    padding-top: 243px;
    font-family: "OpenSans Bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.0em;
    text-align: center; }
  .about-app__description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center; }
  .about-app__picture--mood,
  .about-app__picture--world {
    display: block;
    position: absolute;
    z-index: 11; }
  .about-app__picture--friends img {
    width: 292px;
    height: 302px; }
  .about-app__picture--mood {
    top: -113px;
    left: -22px; }
  .about-app__picture--world {
    top: -113px;
    left: -22px; }
  .about-app__picture--friends {
    top: -113px;
    left: -22px; } }

.effect {
  display: none; }

@media (min-width: 768px) {
  .effect {
    display: block; }
  .effect__container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 95px 25px 90px 330px;
    width: 660px;
    background-image: url(../img/timer24h.svg);
    background-size: 238px 276px;
    background-position: 20px 57px;
    background-repeat: no-repeat; }
  .effect__title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: "OpenSans Bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700; }
  .effect__description {
    margin: 0;
    margin-bottom: 7px;
    padding: 0;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px; }
  .effect__link--container {
    margin: 0;
    padding: 0; }
  .effect__link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856; } }

@media (min-width: 1200px) {
  .effect {
    background-color: #f2f2f2; }
  .effect__container {
    padding: 114px 180px 115px 497px;
    width: 1200px;
    background-image: url(../img/timer24h.svg);
    background-size: 298px 345px;
    background-position: 130px 23px;
    background-repeat: no-repeat; }
  .effect__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px; }
    .effect__title br {
      display: none; }
  .effect__description {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 30px; }
  .effect__link {
    font-size: 18px;
    line-height: 30px; } }

.toggle {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.toggle__button {
  position: relative;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  margin: 0 10px;
  width: 6px;
  height: 6px;
  cursor: pointer; }
  .toggle__button::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #bec2c7; }
  .toggle__button:hover::before, .toggle__button:focus::before {
    background-color: #7e868f; }
  .toggle__button:active::before {
    opacity: 0.3; }

.toggle__button--current::before {
  background-color: #ffffff; }

.toggle__button--current:hover::before, .toggle__button--current:focus::before {
  background-color: #ffffff; }

.toggle__button--current:active::before {
  background-color: #ffffff; }

.toggle__button--current::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #283645; }

.rewiews {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  background-color: #ffffff; }
  .rewiews::after {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 43px;
    background-image: linear-gradient(to left top, #f2f2f2 49.99%, transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right; }

.rewiews__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 13px 20px 68px 20px;
  width: 320px; }

.rewiews__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.rewiews__item {
  display: none;
  margin: 0;
  margin-bottom: 22px;
  padding: 0; }
  .rewiews__item blockquote {
    margin: 0;
    padding: 0;
    text-align: center; }

.rewiews__item--current {
  display: block; }

.rewiews__author {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #000000; }

.rewiews__author--description {
  display: none; }

.rewiews__text {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

.rewiews__button {
  display: none; }

.rewiews__toggle--wrapper {
  display: flex;
  width: 100%; }

.rewiews__toggle {
  justify-content: center;
  width: 100%; }

@media (min-width: 768px) {
  .rewiews__container {
    padding: 22px 20px 30px 20px;
    width: 660px; }
  .rewiews__item {
    margin-bottom: 24px; }
  .rewiews__item blockquote {
    display: flex;
    flex-direction: column; }
  .rewiews__author {
    order: 2;
    font-family: "OpenSans Bold", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em; }
  .rewiews__author--description {
    display: inline;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400; }
  .rewiews__text {
    order: 1;
    margin-bottom: 34px;
    font-size: 18px; } }

@media (min-width: 1200px) {
  .rewiews::after {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 90px;
    background-image: linear-gradient(to left top, #f2f2f2 49.99%, transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right; }
  .rewiews__container {
    position: relative;
    padding: 170px 250px 70px 250px;
    width: 1200px;
    background-image: url(../img/icon-quotes.svg);
    background-size: 79px 63px;
    background-position: 50% 70px;
    background-repeat: no-repeat; }
  .rewiews__button {
    display: block;
    padding: 0px;
    position: absolute;
    width: 26px;
    height: 46px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.3; }
    .rewiews__button svg {
      width: 22px;
      height: 42px; }
    .rewiews__button--back {
      top: 210px;
      left: 129px; }
    .rewiews__button--next {
      top: 210px;
      right: 129px; }
    .rewiews__button:hover, .rewiews__button:focus {
      opacity: 1; }
    .rewiews__button:active {
      opacity: 0.1; }
  .rewiews__text {
    margin-bottom: 36px; }
  .rewiews__author {
    font-size: 24px;
    line-height: 30px; }
  .rewiews__author--description {
    font-size: 18px;
    line-height: 30px; }
  .rewiews__toggle--wrapper {
    display: none; } }

.price {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 30px;
  height: 350px;
  background-color: #f2f2f2; }

.price__container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  height: 350px;
  overflow: hidden; }

.price__table {
  position: relative;
  margin-bottom: 26px;
  overflow: hidden; }

.price__table--show-1 {
  top: 0;
  left: 20px;
  transition: all 0.3s ease-in; }

.price__table--show-2 {
  top: 0;
  left: -258px;
  transition: all 0.3s ease-in; }

.price__table--show-3 {
  top: 0;
  left: -536px;
  transition: all 0.3s ease-in; }

.price__toggle--wrapper {
  display: flex;
  width: 100%; }

.price__toggle {
  justify-content: center;
  width: 100%; }

@media (min-width: 768px) {
  .price {
    padding-top: 40px;
    padding-bottom: 0px;
    height: 286px; }
  .price__container {
    padding-left: 20px;
    padding-right: 20px;
    width: 660px;
    height: 286px; }
  .price__table {
    margin-bottom: 0;
    top: 0;
    left: 0; }
  .price__toggle--wrapper {
    display: none; } }

@media (min-width: 1200px) {
  .price {
    height: 397px; }
  .price__container {
    padding: 21px 130px 0 130px;
    width: 1200px;
    height: 397px; } }

.table-tariffs {
  border-collapse: collapse;
  width: 836px; }

.table-tariffs__hidden {
  display: none; }

.table-tariffs__tariff-name {
  box-sizing: border-box;
  position: relative;
  width: 276px;
  height: 96px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  background-color: #283645;
  border-top: 2px solid #283645;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #283645;
  border-left: 2px solid #283645; }
  .table-tariffs__tariff-name b {
    font-family: "OpenSans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase; }

.table-tariffs__tariff-name--hit {
  position: absolute;
  box-sizing: border-box;
  top: -2px;
  left: 0px;
  width: 74px;
  height: 73px;
  background-image: url("../img/bg-hit.svg"); }
  .table-tariffs__tariff-name--hit::after {
    content: "Хит";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 74px;
    height: 73px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(-45deg); }

.table-tariffs__service {
  display: none; }

.table-tariffs__indicator {
  box-sizing: border-box;
  box-sizing: border-box;
  width: 276px;
  height: 40px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #e5e5e5; }
  .table-tariffs__indicator p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px 0 20px;
    text-transform: uppercase; }

@media (min-width: 768px) {
  .table-tariffs {
    border-collapse: collapse;
    width: 620px; }
  .table-tariffs__hidden {
    display: table-cell;
    border: 0px solid transparent; }
  .table-tariffs__tariff-name {
    box-sizing: border-box;
    position: relative;
    width: 155px;
    height: 77px;
    font-size: 18px; }
    .table-tariffs__tariff-name b {
      font-size: 16px; }
  .table-tariffs__tariff-name--hit {
    top: -14px;
    left: 0px; }
    .table-tariffs__tariff-name--hit::after {
      top: 10px;
      left: -2px; }
  .table-tariffs__service {
    display: table-cell;
    box-sizing: border-box;
    padding-left: 15px;
    width: 155px;
    height: 46px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }
  .table-tariffs__indicator {
    width: 155px;
    height: 46px; }
    .table-tariffs__indicator p {
      justify-content: center;
      margin: 0;
      padding: 0; }
  .table-tariffs__indicator--mobile-text {
    display: none; } }

@media (min-width: 1200px) {
  .table-tariffs {
    width: 940px; }
  .table-tariffs__tariff-name {
    height: 96px;
    font-size: 24px; }
    .table-tariffs__tariff-name b {
      font-size: 18px; }
  .table-tariffs__tariff-name--hit {
    top: -3px;
    left: 0px; }
    .table-tariffs__tariff-name--hit::after {
      top: 7px;
      left: 4px; }
  .table-tariffs__service {
    padding-left: 21px;
    height: 61px;
    font-size: 18px;
    line-height: 30px; } }

.contacts {
  background-color: #ffffff;
  color: #283645; }

.contacts__container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px; }

.contacts__main-title {
  padding-top: 21px;
  margin-bottom: 35px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center; }

.contacts__wrapper {
  margin-bottom: 37px;
  padding: 0 20px; }

.contacts__data {
  margin-bottom: 18px;
  font-family: "OpenSans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center; }

.contacts__info {
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #d22856; }
  .contacts__info br {
    display: none; }

.contacts__info--email:hover, .contacts__info--email:focus {
  color: #283645;
  text-decoration: underline;
  cursor: pointer; }

.contacts__info--email:active {
  opacity: 0.3; }

.contacts__map {
  position: relative; }
  .contacts__map picture {
    position: absolute;
    z-index: 2; }
  .contacts__map iframe {
    position: absolute;
    z-index: 4; }
  .contacts__map img {
    display: block;
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 100%;
       object-position: 50% 100%; }
  .contacts__map::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background-image: linear-gradient(to right top, transparent 49.99%, #ffffff 50%), linear-gradient(to left top, transparent 49.99%, #ffffff 50%);
    background-size: 50% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right; }
  .contacts__map::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 95px;
    left: 143px;
    width: 16px;
    height: 16px;
    background-color: #d22856;
    border-radius: 50%;
    border: 10px solid #ffffff; }

@media (min-width: 768px) {
  .contacts__container {
    width: 660px; }
  .contacts__main-title {
    padding-top: 47px;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 400px;
    font-size: 40px;
    line-height: 48px; }
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-bottom: 10px;
    height: 230px; }
  .contacts__data {
    width: 300px; }
  .contacts__wrapper p:last-child {
    width: 600px; }
  .contacts__info br {
    display: inline; }
  .contacts__map {
    height: 375px; }
    .contacts__map::after {
      height: 70px; }
    .contacts__map img {
      height: 375px; }
    .contacts__map iframe {
      width: 100%;
      height: 375px; } }

@media (min-width: 1200px) {
  .contacts__container {
    width: 1200px; }
  .contacts__main-title {
    padding-top: 65px;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 600px;
    font-size: 50px;
    line-height: 60px; }
  .contacts__wrapper {
    margin-bottom: 0px;
    margin: 0 auto;
    width: 960px;
    height: 150px; }
  .contacts__data {
    width: 300px; }
  .contacts__wrapper p:last-child {
    width: 300px; }
  .contacts__data--tel {
    order: 1; }
  .contacts__data--write {
    order: 3; }
  .contacts__data--address {
    order: 2; }
  .contacts__info {
    display: inline-block;
    margin-top: 22px; }
  .contacts__map {
    height: 500px; }
    .contacts__map img {
      height: 500px; }
    .contacts__map iframe {
      height: 500px; }
    .contacts__map::after {
      height: 100px; } }

.page-footer--main-page {
  display: none; }

.page-footer__container {
  margin: 0 auto;
  width: 320px; }

.page-footer__logo-image--desktop {
  display: none; }

.page-footer__logo {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 150px; }

.page-footer__logo-image {
  transition: all 0.1s linear; }
  .page-footer__logo-image:hover, .page-footer__logo-image:focus {
    fill: #d22856;
    cursor: pointer;
    transition: all 0.1s linear; }
  .page-footer__logo-image:active {
    opacity: 0.3;
    transition: all 0.1s linear; }

.page-footer__social {
  margin: 0 auto;
  margin-top: 32px;
  width: 180px; }

.page-footer__copyright {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 38px;
  padding-left: 15px;
  width: 165px; }

.page-footer__copyright p {
  display: flex; }

.page-footer__copyright--text {
  margin-right: 15px;
  padding-top: 7px;
  font-size: 14px;
  line-height: 18px;
  color: #283645; }

.page-footer__copyright--link-svg {
  fill: #d22856; }
  .page-footer__copyright--link-svg:hover, .page-footer__copyright--link-svg:focus {
    fill: #283645; }
  .page-footer__copyright--link-svg:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .page-footer {
    display: block; }
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 660px; }
  .page-footer__logo {
    display: inline-block;
    margin-top: 33px;
    margin-left: 20px;
    width: 155px; }
  .page-footer__social {
    margin-top: 37px; }
  .page-footer__copyright {
    margin-top: 28px;
    width: 130px; }
  .page-footer__copyright--link {
    display: flex;
    align-items: center;
    text-decoration: none; } }

@media (min-width: 1200px) {
  .page-footer__container {
    box-sizing: border-box;
    padding: 34px 120px 60px 120px;
    width: 1200px; }
  .page-footer__logo {
    margin: 32px 0 0 10px; }
  .page-footer__social {
    margin-top: 37px;
    padding: 0; }
  .page-footer__copyright {
    margin: 26px 34px 0 0;
    padding: 0; }
  .page-footer__copyright--text {
    font-size: 18px;
    line-height: 18px; } }

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 175px;
  list-style: none; }

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%; }
  .social__link:hover, .social__link:focus {
    border-color: #283645; }
  .social__link:active {
    opacity: 0.3; }

.page-other__header {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #1d2631; }

.page-other__header--container {
  margin: 0 auto;
  margin-top: -0px;
  width: 320px;
  min-height: 238px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-size: 320px 462px;
  background-position: center top;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-other__header--container {
      background-image: url(../img/bg-back-mobile@2x.jpg); } }

.page-other__header--title {
  margin: 0 auto;
  padding-top: 97px;
  width: 250px;
  font-family: "OpenSans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: center; }

@media (min-width: 768px) {
  .page-other__header--container {
    width: 660px;
    height: 438px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-size: 1200px 729px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-other__header--container {
      background-image: url(../img/bg-back-tablet@2x.jpg); } }

@media (min-width: 768px) {
  .page-other__header--title {
    box-sizing: border-box;
    padding: 180px 20px 0 20px;
    width: 660px;
    font-size: 50px;
    line-height: 60px; } }

@media (min-width: 1200px) {
  .page-other {
    margin-bottom: 30px; }
  .page-other__header--container {
    width: 1200px;
    height: 395px;
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: 2560px 853px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .page-other__header--container {
      background-image: url(../img/bg-back-desktop@2x.jpg); } }

@media (min-width: 1200px) {
  .page-other__header--title {
    padding: 175px 80px 0 80px;
    width: 1200px; } }

.photo-users {
  color: #283645;
  background-color: #ffffff; }

.photo-users__container {
  margin: 0 auto;
  width: 320px; }

.photo-users__title {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 49px;
  width: 250px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center; }

.photo-users__photo-wrapper {
  margin-bottom: 21px; }

.photo-users__picture {
  padding: 0 20px; }

.photo-users__picture img {
  vertical-align: top; }

.photo-users__photo-wrapper--day-photo {
  margin-bottom: 20px; }

.photo-users__picture--day-photo {
  position: relative;
  padding: 0; }
  .photo-users__picture--day-photo::after {
    content: "Панорама дня";
    position: absolute;
    box-sizing: border-box;
    padding-top: 5px;
    top: -1px;
    right: 20px;
    width: 140px;
    height: 36px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #d22856;
    text-transform: uppercase; }

.photo-users__comments {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 18px 20px 18px;
  width: 280px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #f2f2f2; }

.photo-users__comments--author {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  font-weight: 700; }
  .photo-users__comments--author span {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase; }

.photo-users__comments--text {
  margin: 0;
  margin-bottom: 9px;
  padding: 0; }

.photo-users__comments--likes {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase; }
  .photo-users__comments--likes:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 14px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-position: 0 0;
    background-repeat: no-repeat; }

@media (min-width: 768px) {
  .photo-users__container {
    width: 660px; }
  .photo-users__title {
    padding-top: 92px;
    padding-bottom: 77px;
    width: 500px;
    font-size: 18px;
    line-height: 30px; }
  .photo-users__photo-wrapper--day-photo {
    margin-bottom: 49px; }
    .photo-users__photo-wrapper--day-photo .photo-users__picture--day-photo {
      width: 660px; }
      .photo-users__photo-wrapper--day-photo .photo-users__picture--day-photo img {
        width: 660px;
        height: 509px; }
      .photo-users__photo-wrapper--day-photo .photo-users__picture--day-photo::after {
        top: 55px;
        right: 20px; }
    .photo-users__photo-wrapper--day-photo .photo-users__comments {
      position: relative;
      padding: 6px 28px 20px 28px;
      width: 620px;
      height: 121px; }
    .photo-users__photo-wrapper--day-photo .photo-users__comments--likes {
      position: absolute;
      top: 24px;
      right: 58px; }
      .photo-users__photo-wrapper--day-photo .photo-users__comments--likes:after {
        top: 6px;
        left: 107px; }
  .photo-users__photo--container {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap; }
  .photo-users__photo-wrapper {
    margin: 0 10px 20px 10px;
    padding: 0;
    width: 300px;
    height: 455px; }
  .photo-users__picture {
    padding: 0; }
  .photo-users__comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 29px 22px 29px;
    width: 300px;
    height: 155px; }
  .photo-users__comments--likes {
    box-sizing: border-box;
    padding: 0; }
    .photo-users__comments--likes:after {
      bottom: 6px;
      left: auto;
      right: 0px; } }

@media (min-width: 1200px) {
  .photo-users__container {
    width: 1200px; }
  .photo-users__title {
    padding-bottom: 86px;
    width: 600px; }
  .photo-users__photo-wrapper--day-photo {
    margin-bottom: 23px; }
    .photo-users__photo-wrapper--day-photo .photo-users__picture--day-photo {
      width: 1200px; }
      .photo-users__photo-wrapper--day-photo .photo-users__picture--day-photo img {
        width: 1200px; }
      .photo-users__photo-wrapper--day-photo .photo-users__picture--day-photo::after {
        right: 130px; }
    .photo-users__photo-wrapper--day-photo .photo-users__comments {
      width: 940px; }
    .photo-users__photo-wrapper--day-photo .photo-users__comments--likes:after {
      top: 6px;
      left: 103px; }
  .photo-users__photo--container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 980px; }
  .photo-users__photo-wrapper {
    margin-bottom: 48px;
    height: 560px; } }

.photo-post {
  color: #283645;
  background-color: #ffffff; }

.photo-post__container {
  margin: 0 auto;
  width: 320px; }

.photo-post__title {
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 42px;
  width: 260px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center; }

.photo-post__area {
  padding-bottom: 29px;
  background-color: #f2f2f2; }

.photo-post__picture img {
  padding: 20px 18px 20px 18px; }

.photo-post__editor {
  padding-bottom: 34px;
  margin-bottom: 39px;
  border-bottom: 1px solid #dddfe0; }

.photo-post__editor--wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  padding-top: 16px;
  width: 250px; }

.photo-post__filter--button {
  display: block;
  padding: 0px;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .photo-post__filter--button svg {
    width: 48px;
    height: 48px;
    opacity: 0.3; }
  .photo-post__filter--button:hover svg, .photo-post__filter--button:focus svg {
    opacity: 0.5; }

.photo-post__button-input--wrapper:nth-child(3) .photo-post__filter--button {
  box-sizing: border-box;
  margin-top: 6px;
  margin-right: 12px;
  width: 32px;
  height: 32px; }
  .photo-post__button-input--wrapper:nth-child(3) .photo-post__filter--button svg {
    width: 32px;
    height: 32px; }

.photo-post__filter--button-current svg {
  opacity: 1;
  fill: #d22856; }

.photo-post__filter--button-current:hover svg, .photo-post__filter--button-current:focus svg {
  opacity: 1; }

.photo-post__filter--range {
  display: none;
  margin: 0 auto;
  margin-top: 35px;
  width: 245px;
  height: 2px; }

.photo-post__filter--range-mobile {
  display: block; }

.photo-post__filter--range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 245px;
  height: 2px;
  background: #283645;
  outline: none;
  opacity: 1;
  transition: opacity .2s; }

.photo-post__filter--range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid #d22856;
  border-radius: 50%; }
  .photo-post__filter--range::-webkit-slider-thumb:active {
    background: #d22856; }

.photo-post__editor--button-wrapper {
  margin: 0 auto;
  width: 282px; }

.photo-post__editor--button {
  display: inline-block;
  margin-bottom: 12px; }

@media (min-width: 768px) {
  .photo-post__container {
    width: 660px; }
  .photo-post__title {
    padding-top: 45px;
    padding-bottom: 69px;
    width: 430px;
    font-size: 18px; }
  .photo-post__area {
    display: flex;
    flex-wrap: wrap;
    padding: 57px 20px 100px 20px; }
  .photo-post__picture img {
    padding: 0; }
  .photo-post__editor--column {
    flex-grow: 1;
    margin-left: 20px; }
  .photo-post__editor {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 81px;
    padding: 0;
    width: 100%;
    height: 185px;
    border-bottom: none; }
  .photo-post__editor--wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 260px;
    height: 185px;
    flex-wrap: wrap;
    align-content: space-between; }
  .photo-post__button-input--wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px; }
    .photo-post__button-input--wrapper:after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 5px;
      width: 275px;
      height: 1px;
      background-color: #e5e6e7; }
  .photo-post__filter--button {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
    .photo-post__filter--button svg {
      fill: #d22856;
      opacity: 1; }
    .photo-post__filter--button:hover svg, .photo-post__filter--button:focus svg {
      opacity: 1; }
  .photo-post__button-input--wrapper:nth-child(1) .photo-post__filter--button {
    margin-left: 9px;
    width: 22px;
    height: 22px; }
    .photo-post__button-input--wrapper:nth-child(1) .photo-post__filter--button svg {
      width: 22px;
      height: 22px; }
  .photo-post__button-input--wrapper:nth-child(2) .photo-post__filter--button {
    margin-top: 2px;
    margin-left: 9px;
    width: 24px;
    height: 22px; }
    .photo-post__button-input--wrapper:nth-child(2) .photo-post__filter--button svg {
      width: 24px;
      height: 22px; }
  .photo-post__button-input--wrapper:nth-child(3) .photo-post__filter--button {
    margin-top: -3px;
    margin-left: 13px;
    width: 16px;
    height: 16px; }
    .photo-post__button-input--wrapper:nth-child(3) .photo-post__filter--button svg {
      width: 16px;
      height: 16px; }
  .photo-post__filter--range {
    display: block;
    margin: 0;
    padding: 0;
    width: 202px; }
  .photo-post__filter--range-mobile {
    display: none; }
  .photo-post__editor--button-wrapper {
    margin: 0 auto;
    padding-left: 10px;
    width: 260px; }
  .photo-post__editor--button {
    margin-bottom: 25px;
    width: 260px; } }

@media (min-width: 1200px) {
  .photo-post__container {
    width: 1200px; }
  .photo-post__title {
    padding-top: 6px;
    padding-bottom: 67px; }
  .photo-post__area {
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 42px;
    padding: 57px 60px 50px 80px;
    width: 940px; }
  .photo-post__editor--column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 23px 0 60px;
    width: 480px;
    height: 400px; }
  .photo-post__editor--wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 390px;
    height: 185px; }
  .photo-post__button-input--wrapper:after {
    width: 410px; }
  .photo-post__button-input--wrapper:nth-child(1) .photo-post__filter--button {
    width: 47px;
    height: 47px; }
    .photo-post__button-input--wrapper:nth-child(1) .photo-post__filter--button svg {
      width: 47px;
      height: 47px; }
  .photo-post__button-input--wrapper:nth-child(2) .photo-post__filter--button {
    width: 52px;
    height: 48px; }
    .photo-post__button-input--wrapper:nth-child(2) .photo-post__filter--button svg {
      width: 52px;
      height: 48px; }
  .photo-post__button-input--wrapper:nth-child(3) .photo-post__filter--button {
    margin-left: 17px;
    width: 32px;
    height: 32px; }
    .photo-post__button-input--wrapper:nth-child(3) .photo-post__filter--button svg {
      width: 32px;
      height: 32px; }
  .photo-post__filter--range {
    width: 288px; }
  .photo-post__editor--button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 410px; }
  .photo-post__editor--button {
    margin: 0;
    width: 183px; } }

.form-page__title {
  padding: 30px 0px 20px 0px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center; }
  .form-page__title span {
    display: none; }

.form-page__area--1 {
  background-color: #ffffff; }

.form-page__area--2 {
  background-color: #f2f2f2; }

.form-page__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 320px; }

@media (min-width: 768px) {
  .form-page__container {
    width: 660px; }
  .form-page {
    display: flex;
    flex-direction: column; }
  .form-page__area--name {
    order: 1; }
  .form-page__area--checkbox {
    order: 4; }
  .form-page__area--contacts {
    order: 3; }
  .form-page__area--radio {
    order: 2; }
  .form-page__area--textarea {
    order: 5; }
  .form-page__area--2 {
    background-color: #ffffff; }
  .form-page__title {
    padding: 75px 40px 20px 40px;
    font-size: 18px; }
    .form-page__title span {
      display: inline; } }

@media (min-width: 1200px) {
  .form-page {
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 130px;
    width: 1200px; }
  .form-page__container {
    margin: 0;
    padding: 0;
    width: auto; }
  .form-page__title {
    box-sizing: border-box;
    padding: 75px 70px 20px 70px;
    width: auto;
    font-size: 18px; }
    .form-page__title span {
      display: inline; }
  .form-page__area--name {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 35px 0 0;
    width: 50%; }
    .form-page__area--name .form__label {
      padding-left: 0; }
  .form-page__area--checkbox {
    margin: 0;
    padding: 0;
    width: 100%; }
  .form-page__area--contacts {
    margin: 0;
    padding: 0;
    width: 100%; }
  .form-page__area--radio {
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0 0 35px;
    width: 50%; }
  .form-page__area--textarea {
    margin: 0;
    padding: 0;
    width: 100%; }
  .form-page__container {
    width: auto; } }

.form {
  margin: 0;
  padding: 0; }

.form__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  border: none; }
  .form__fieldset p {
    margin: 0;
    margin-bottom: 17px;
    padding: 0; }

.form__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase; }

.form__input {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.025em;
  color: #283645;
  border: 2px solid #e5e5e5; }
  .form__input::-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645; }
  .form__input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645; }
  .form__input::-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645; }
  .form__input::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645; }
  .form__input:hover {
    border-color: #283645; }
  .form__input:active {
    border-color: #d22856;
    outline: none; }

.form__fieldset--checkbox {
  padding-bottom: 41px; }

.form__legend {
  padding: 0 30px;
  padding-top: 37px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center; }

.form__checkbox--list {
  margin: 0;
  padding: 0;
  padding-top: 41px;
  list-style: none; }

.form__checkbox--item {
  margin: 0;
  margin-bottom: 43px;
  padding: 0; }

.form__checkbox--item:last-child {
  margin-bottom: 0; }

.form__checkbox--input:focus + label {
  outline: solid; }

.form__checkbox--label {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 69px;
  padding-top: 5px;
  height: 39px;
  cursor: pointer; }
  .form__checkbox--label:hover:before, .form__checkbox--label:focus:before {
    border-color: #293746; }
  .form__checkbox--label:active:before {
    border-color: #d22856; }
  .form__checkbox--label:active:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 8px;
    width: 22px;
    height: 16px;
    background-image: url(../img/tick.svg);
    background-size: cover; }

.form__checkbox--input + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5; }

.form__checkbox--input:checked + label:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  width: 22px;
  height: 16px;
  background-image: url(../img/tick.svg);
  background-size: cover; }

.form__checkbox--input:checked:active + label:after {
  background-image: none; }

.form__fieldset--contacts {
  padding-top: 32px; }
  .form__fieldset--contacts .form__legend {
    display: none; }

.form__fieldset--radio {
  padding-bottom: 42px; }

.form__radio--list {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  list-style: none; }

.form__radio--item {
  margin-bottom: 35px; }

.form__radio--item:last-child {
  margin-bottom: 0; }

.form__radio--label {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 7px;
  padding-left: 69px;
  height: 40px;
  cursor: pointer; }
  .form__radio--label:hover:before, .form__radio--label:focus:before {
    border-color: #293746; }
  .form__radio--label:active:before {
    border-color: #d22856; }
  .form__radio--label:active:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    background-color: #d22856;
    border-radius: 50%;
    background-size: cover; }

.form__radio--input + label:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%; }

.form__radio--input:checked + label:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
  background-size: cover; }

.form__radio--input:checked:active + label:after {
  display: none; }

.form__fieldset--textarea {
  padding-bottom: 0; }

.form__textarea {
  box-sizing: border-box;
  margin-top: 17px;
  padding: 15px 20px;
  width: 100%;
  height: 200px;
  font-family: "Myriad Pro", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.025em;
  color: #283645;
  letter-spacing: 0.06em;
  border: 2px solid #e5e5e5;
  resize: none; }
  .form__textarea::-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645; }
  .form__textarea:-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645; }
  .form__textarea::-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645; }
  .form__textarea::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645; }

.form__button--wrapper {
  padding-top: 42px;
  margin-bottom: 60px; }

.form__button {
  margin-bottom: 35px;
  width: 100%; }

.form__note {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  color: #283645;
  text-align: center;
  text-transform: uppercase; }
  .form__note span {
    display: none; }

@media (min-width: 768px) {
  .form__fieldset--name {
    padding-top: 33px;
    padding-bottom: 58px; }
    .form__fieldset--name p {
      display: flex;
      margin-bottom: 52px; }
    .form__fieldset--name p:last-child {
      margin-bottom: 0px; }
  .form__label {
    margin-right: 18px;
    padding-top: 17px;
    padding-left: 0px; }
  .form__input {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 63px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #283645;
    border: 2px solid #e5e5e5; }
  .form__legend {
    padding: 0 30px;
    padding-top: 0px; }
  .form__fieldset--radio {
    padding: 0 57px 57px 57px;
    margin-bottom: 57px;
    border: 1px solid #e5e5e5; }
  .form__radio--list {
    padding: 42px 0px 0px 0px; }
  .form__radio--label {
    padding-left: 61px; }
  .form__fieldset--contacts {
    margin-bottom: 55px;
    padding: 37px 57px 0 57px;
    border: 1px solid #e5e5e5; }
    .form__fieldset--contacts .form__legend {
      display: inline-block; }
    .form__fieldset--contacts .form__input-label-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 14px; }
      .form__fieldset--contacts .form__input-label-wrapper:after {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        width: 59px;
        height: 59px;
        background-position: center right 22px;
        background-repeat: no-repeat; }
      .form__fieldset--contacts .form__input-label-wrapper:before {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        width: 59px;
        height: 59px;
        background-color: #e5e5e5; }
      .form__fieldset--contacts .form__input-label-wrapper--tel:after {
        background-image: url(../img/icon-phone.svg); }
      .form__fieldset--contacts .form__input-label-wrapper--email:after {
        background-image: url(../img/icon-mail.svg); }
    .form__fieldset--contacts .form__label {
      padding: 10px 15px;
      order: 2; }
    .form__fieldset--contacts .form__input {
      padding-right: 79px;
      order: 1; }
  .form__fieldset--checkbox {
    margin-bottom: 57px;
    padding: 5px 57px 48px 57px;
    border: 1px solid #e5e5e5; }
    .form__fieldset--checkbox .form__checkbox--label {
      padding-left: 60px; }
  .form__fieldset--textarea {
    padding: 20px 57px 48px 57px;
    border: 1px solid #e5e5e5; }
  .form__textarea {
    height: 193px; }
  .form__button--wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    margin-bottom: 20px; }
  .form__button {
    width: 300px; }
  .form__note {
    padding-top: 20px; } }

@media (min-width: 1200px) {
  .form__radio--list {
    padding: 37px 0px 0px 0px; }
  .form__fieldset--radio {
    padding: 0 72px 52px 72px; }
  .form__fieldset--contacts {
    padding-bottom: 0;
    margin-bottom: 50px; }
  .form__contacts--wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .form__contacts--wrapper .form__label {
      padding-bottom: 0; }
  .form__input-label-wrapper {
    margin: 0;
    padding: 0;
    width: 370px; }
  .form__fieldset--checkbox {
    padding-right: 0;
    padding-bottom: 11px; }
  .form__checkbox--list {
    display: flex;
    flex-wrap: wrap; }
  .form__checkbox--item {
    margin-right: 42px;
    width: 30%; }
  .form__checkbox--item:nth-child(1) {
    order: 1; }
  .form__checkbox--item:nth-child(2) {
    order: 4; }
  .form__checkbox--item:nth-child(3) {
    order: 2; }
  .form__checkbox--item:nth-child(4) {
    order: 5; }
  .form__checkbox--item:nth-child(5) {
    order: 6;
    margin-right: 0px; }
  .form__checkbox--item:nth-child(6) {
    order: 3;
    margin-right: 0px; }
  .form__fieldset--textarea {
    margin-bottom: 0;
    padding-bottom: 38px; }
  .form__textarea {
    height: 124px; }
  .form__note span {
    display: inline; }
  .form__button--wrapper {
    margin-bottom: -23px; }
  .form__button {
    margin-bottom: 0px; }
  .form-page__area--textarea {
    margin-bottom: 0;
    padding-bottom: 0; } }

@font-face {
  font-weight: normal;
  font-family: "Myriad Pro";
  font-style: normal;
  src: url("../fonts/myriadpro.woff2") format("woff2"), url("../fonts/myriadpro.woff") format("woff"); }

@font-face {
  font-weight: 300;
  font-family: "OpenSans Light";
  font-style: normal;
  src: url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "OpenSans Bold";
  font-style: normal;
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff"); }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  color: #283645;
  overflow-x: hidden; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
